doctype html
html
  head
    title Rasterizer
    script(src='bundle.js')
    script(src='rasterizer.js')
    link(rel='stylesheet' href='index.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    form#new-size
      input(name='image-size' placeholder='Add New Size' pattern='\\d+')
    ul#sizes

    input#x2(name='x2' type='checkbox')
    label(for='x2') Include @2x
    input#x3(name='x3' type='checkbox')
    label(for='x3') Include @3x
