doctype html
html
  head
    title Rasterizer
    script(src='bundle.js')
    script(src='rasterizer.js')
  body
    select#sizes(multiple=true size=8)
      option(value=152) 152
      option(value=167) 167
      option(value=180) 180
      option(value=192) 192
      option(value=512) 512