body {
  font-family: -apple-system, Helvetica;
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}


input[type=checkbox] + label {
/*  display: block;*/
  cursor: pointer;
}

input[type=checkbox] + label::before {
  font-family: monospace;
  display: inline-block;
  width: 1em;
}

.flex {
  display: flex;
}
.flex > div {
  padding: 1em;
  flex: 1 0 50%;
  box-sizing: border-box;
  min-height: 100vh;
}
.flex > div:last-child {
  background-color: #fffff0;
  border-left: thin solid #ccccc0
}
